*.class

# Package Files #
*.jar
*.war
*.ear

# Temporary files #
*~

# Test results #
ParallelHyFlex/build/test/results/*

# API files #
ParallelHyFlex/lib/junit_4/*

# Project files #
ParallelHyFlex/build/*

#LaTeX and co #
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.pdf
*.backup
*~
*~2
*~3
*~4
*~5
*~6
*~7
*~8
*~9
*.doc
*.flv
*.ppt
*.docx
*.eps
*.svg
*.css
*.gif
*.js
*.ods
*.htm
*.html
*.bmp
*.png
*.jpg
*.jpeg
*.mp3
*.flac
*.wav
*.ogg
*.mp4
*.avi
*.mpg
*.mpeg
*.mkz
*.kilepr
*.exe
*.dll
*.exe.mdb
*.txt

#specials
/ParallelHyFlex/dist/
/GIHH/nbproject/private/
/publications/masterthesis/doc/*
/HyFlexTests/nbproject/private/
/HyFlexTests/build/