*.class

# Package Files #
*.jar
*.war
*.ear

# Temporary files #
*~

# Test results #
ParallelHyFlex/build/test/results/*

# API files #
ParallelHyFlex/lib/junit_4/*

# Project files #
ParallelHyFlex/build/*
